.Dashboard{
    width: 100%;
    padding: 3rem;
}

.dashboard-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.dashboard-header img{
    height: 50px;
    border-radius: 50%;
}

.dashboard-header-welcome{
    display: flex;
    flex-direction: column;
}

.dashboard-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;

}