.LandingPage{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
    padding-top: 15vh;

}
.landing-text{
    max-width: 600px;
}

.landing-text h1{
    font-size: 4rem;
}


.landing-image img{
    height: 55vh;
}
.landing-image{
    padding-right: 3rem;
}

.landing-description{
    font-size: 18px;
    color: var(--tertiary-color);

}

@media screen and (max-width: 768px){
    .LandingPage {
        padding-top: 5vh;
    }

    .LandingPage h1 {
        font-size: 3rem;
    }
    
    .landing-image {
        padding-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

    .landing-image img {
        height: 40vh;
    }
}