.Navbar{
    display: flex;
    justify-content: space-between;
    background: rgb(38, 59, 54);
    /* padding: 12px 30px; */
    color: white;
}
.Navbar-links{
    display: flex;
    flex-direction: row;
}
.links{
    padding: 0px 20px;
}
.links:hover{
    color: #E2B887;
}

.signup-link{
    background-color: #E2B887;
    height: 140%;
    color: rgb(38, 59, 54);
    border-radius: 4px
}